.contact-embed {
    background: #0c2d48;
    color: #FDFCFB;
    text-align: center;
    border-radius: 10px;
    font-family: map-get($font-families, 'caption');
    padding: 30px 0;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .contact-input {
        padding-bottom: 10px;
        margin: 0 16px;

        &:last-of-type {
            padding-bottom: 0;
        }

        input,
        textarea {
            width: 100%;
            background: #FDFCFB;
            font-family: inherit;
            color: #737373;
            letter-spacing: 1px;
            border: none;
            border-radius: 8px;
            padding: 12px 16px;
            font-size: 15px;
            box-sizing: border-box;

            &:focus {
                outline: 2px solid #E86C8D;
                box-shadow: 0 0 2px #E86C8D;
            }

            &::placeholder {
                color: #aaa;
            }
        }

        textarea {
            padding-top: 12px;
            line-height: 1.5;
            min-height: 270px;
        }
    }

    .emsg { color: #c12020; font-weight: bold; }

    #member_submit {
        width: 100%;
        height: 48px;
        font-size: 15px;
        background: #2e8bc0;
        font-family: inherit;
        font-weight: bold;
        color: #FDFCFB;
        letter-spacing: 1px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin: 5px 0 0;
        transition: background .3s ease-in-out;
    }

    #member_submit:hover {
        background: #d45d7d;
    }
}
