a.link-unstyled {
    &,
    &:hover,
    &:active {
        cursor:          pointer !important;
        color:           inherit !important;
        text-decoration: none !important;
    }
}

a.link {
  &.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: underline;
  }
  cursor:          pointer;
  color:           inherit;
  text-decoration: none;
  &:hover,
  &:active {
    cursor:          pointer;
    color:           lighten(map-get($sidebar, color), 35);
    text-decoration: none;
  }
}

a.fancybox {
    cursor: zoom-in !important;
}
