.related-posts {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid lighten($color-base, 77%);

    h3 {
        font-size:     map-get($font-size, 'medium');
        font-weight:   500;
        margin-bottom: 15px;
        color:         $font-color-base;
    }
}

.related-posts-list {
    list-style:  none;
    padding:     0;
    margin:      0;
}

.related-posts-item {
    margin-bottom: 15px;

    a {
        display:         flex;
        align-items:     center;
        text-decoration: none;
        color:           $font-color-base;

        &:hover {
            .related-posts-title {
                color: map-get($colors, 'link');
            }
        }
    }
}

.related-posts-thumbnail {
    width:         60px;
    height:        60px;
    object-fit:    cover;
    border-radius: 4px;
    margin-right:  15px;
    flex-shrink:   0;
}

.related-posts-info {
    display:        flex;
    flex-direction: column;
}

.related-posts-title {
    font-size:   map-get($font-size, 'base');
    font-weight: 500;
    transition:  color 0.2s;
}

.related-posts-date {
    font-size:  map-get($font-size, 'small');
    color:      map-get($colors, 'light');
    margin-top: 3px;
}
