.subscribe-form {
    margin-top: 20px;
    color: #FDFCFB;
    text-align: center;
    border-radius: 20px;
    font-family: map-get($font-families, 'caption');

    form {
        width: 80%;
        margin: 0.5em auto;

        .emsg { color: #c12020; font-weight: bold; }

        .subscribe-header {
            font-size: 26px;
            letter-spacing: 2px;
            padding-top: 1.5em;
            padding-bottom: 1em;
        }

        .subscribe-description {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 1.3em;
            margin: -2px 0 45px;
        }

        .subscribe-input {
            display: flex;
            align-items: center;
            padding-bottom: 2em;

            #member_email {
                width: 65%;
                font-size: 14px;
                background: #FDFCFB;
                font-family: inherit;
                color: #737373;
                letter-spacing: 1px;
                text-indent: 5%;
                border-radius: 5px;
            }

            #member_submit {
                width: 35%;
                height: 46px;
                font-size: 14px;
                background: #2e8bc0;
                font-family: inherit;
                font-weight: bold;
                color: inherit;
                letter-spacing: 1px;
                border-radius: 5px;
                cursor: pointer;
                transition: background .3s ease-in-out;
            }

            #member_submit:hover {
                background: #d45d7d;
            }

            input:focus {
                outline: none;
                outline: 2px solid #E86C8D;
                box-shadow: 0 0 2px #E86C8D;
            }

            .button {
                height: 44px;
                border: none;
            }
        }
    }
}
