
// Position tooltip at the right of the focused element
.tooltip--right {
    &:before {
        margin-bottom:      0;
        margin-left:        -#{map-get($tooltip, arrow-height)};
        border-top-color:   transparent;
        border-right-color: map-get($tooltip, background);
    }
    &:after {
        margin-left:   0;
        // Vertically center tooltip content
        margin-bottom: -#{map-get($tooltip, arrow-width)};
    }
    &:before,
    &:after {
        // Vertically center tooltip's arrow relative to the focused element
        bottom: calc(50% - (#{map-get($tooltip, arrow-width)} / 2));
        // Position arrow at the right of the focused element
        left:   100%;
        right:  auto;
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        // Translate tooltip to the right
        @include prefix(transform, translateX(12px), 'webkit' 'moz' 'ms' 'o');
    }
}