{{ if .Params.coverimage }}
  <div class="post-header-cover
              {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
              {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
       data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
    <img class="post-header-cover-image" src="{{ .Params.coverimage | relURL }}" alt="{{ .Title }}" />
    {{ if eq .Params.covermeta "in" }}
      {{ partial "post/header.html" . }}
    {{ end }}
  </div>
{{ end }}
