<div class="post-header {{ if $.Params.metaalignment }}text-{{ $.Params.metaalignment }}{{ else }}text-left{{ end }}">
  {{ if not (eq .Params.showTitle false) }}
    {{ with $.Params.link }}
      <h1 itemprop="headline">
        <a class="link" href="{{ . | absURL }}" target="_blank" itemprop="url">
          {{ $.Title }}
      </a>
    </h1>
    {{ else }}
      <h1 class="post-title" itemprop="headline">
        {{ $.Title }}
      </h1>
    {{ end }}
  {{ end }}
  {{ partial "post/meta.html" . }}
</div>
