<div class="subscribe" id="subscribe-form">
  <h2 class="subscribe__title">Subscribe to Newsletter</h2>
  <p class="subscribe__copy">Receive updates and insights, right in your mailbox.<br/> No spam. Unsubscribe anytime.</p>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
  <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
  <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
  <div id="wrap">
    <div class="field"></div>
    <form class="signup" method="POST"   data-netlify="true" netlify-honeypot="bot-field">
      <input class="valid email" placeholder="email" type="email">/</input>
      <input
        class="d-none"
        name="bot-field"
        placeholder="This is a spam detector, don't fill this out if you're a human."
      />
      <div class="btnwrap">
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <b>Yes, I'm in!</b>
        <div class="blob"></div>
        <input type="submit" value="Subscribe">/</input>
      </div>
    </form>
  </div>
</div>
