<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with .Site.Author.picture }}
    <div class="sidebar-profile">
      <img class="sidebar-profile-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        </a>
        <h4 class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "link.html" (dict "menu" .Site.Menus.links "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
    {{ with .Site.Params.algolia }}
    <ul class="sidebar-buttons">
      <li class="sidebar-button">
        <a class="sidebar-button-link open-algolia-search" href="#search" title="{{ i18n "global.search" }}">
          <i class="sidebar-button-icon fa fa-search" aria-hidden="true"></i>
          <span class="sidebar-button-desc">{{ i18n "global.search" }}</span>
        </a>
      </li>
    </ul>
    {{ end }}
	<nav class="lang-nav sidebar-button">
      <span>
	    {{ range $index, $element := .AllTranslations }}
        {{ $len := (len .AllTranslations) }}
	    <a class="link {{if eq $element.Lang $.Lang}}disabled{{ end }}" href="{{ $element.Permalink }}">{{ $element.Language.LanguageName }}</a>
        {{if ne $index (sub $len 1) }}&nbsp;{{end}}
	  {{ end }}
      </span>
	</nav>
  </div>
</nav>
