<div id="subscribe-form" class="subscribe-form">
  <form id="subscribe-form" method="POST" action="/page/subscribed/" name="subscribe" data-netlify="true" data-netlify-honeypot="bot-field">
    <input type="hidden" name="form-name" value="subscribe" />
    <input type="hidden" name="bot-field" />
    <div class="subscribe-header">
      Subscribe to newsletter
    </div>
    <div class="subscribe-description">
      Receive updates and insights, right in your mailbox.<br/> No spam. Unsubscribe anytime.
    </div>
    <div class="subscribe-input">
      <input type="email" class="button" name="email" id="member_email" placeholder="Your email address" required>
      <input type="submit" class="button" name="subscribe-btn" id="member_submit" value="Subscribe">
    </div>
  </form>
</div>
